.user-page-container {
    display: grid;
    grid-area: main;
    height: 90vh;
    padding-top: 0.2rem;
    width: 100%;
    position: relative;
    grid-template-areas:
        "sidebar main-content main-content main-content"
        "sidebar main-content main-content main-content"
        "sidebar main-content main-content main-content"
        "sidebar main-content main-content main-content"
    ;
    grid-template-columns: 0.7fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
    margin-top: 3.5rem;
    border-radius: 0 0 8px 8px;
    overflow-y: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    place-items: start;

    &::-webkit-scrollbar {
        display: none;
    }

    .users {
        grid-area: main-content;
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 0.5em;
        width: 100%;
        background-color: #ffff;
        padding: 1rem;
        min-height: 100%;
        color: #000000;

        @media only screen and (min-width:300px) {
            width: 100vh;
            margin-left: 1.5rem;

        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            width: 80vh;
            margin-left: 1.1rem;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            width: 80vh;
            margin-left: -3rem;
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            width: 100vh;
            margin-left: -10rem;
        }


        @media screen and (min-width:1200px) {
            width: 100%;
            margin-left: -3rem;
        }

        @media screen and (min-width:1367px) {
            width: 100%;
            margin-left: -6rem;
        }

        .user-header {


            align-items: center;
            background-color: #00000016;

        }

        .user-top_bar {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            height: 4rem;
            width: 100%;

            .user-actions {
                width: 40%;
                display: flex;
                flex-flow: row nowrap;
                height: 100%;
                column-gap: 1rem;
                justify-content: center;
                padding: 0 1rem;
                align-items: center;

                .search-bar {
                    height: max-content;
                    display: flex;
                    width: 100%;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    background-color: inherit;
                    border-bottom: 2px solid;

                    input {
                        width: calc(100% - 2rem);
                        border: none;
                    }

                    img {
                        width: 2rem;
                        height: 100%;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                .add-user {
                    padding: 0.5em;
                    background-color: #000000;
                    border-radius: 3px;
                    outline: none;
                    border: none;
                    font-size: 1rem;

                    &:hover {
                        cursor: pointer;
                        background-color: #f4f1f1;
                        outline: 2px solid #000000;
                        color: #000000;
                    }

                }
            }

        }

        .user-container {
            height: 3rem;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;

            span {
                font-weight: 700;
            }

            .check-box {
                width: 5%;
                text-align: center;
                margin-right: 0.7em;

                .checkbox {
                    &:hover {
                        cursor: pointer;
                    }

                    & {
                        cursor: pointer;
                    }
                }
            }

            .edit-user {
                height: 100%;
                width: 5%;
                margin-right: 0.7em;

                img {
                    width: 2rem;
                    height: 100%;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .action-button {
                height: 100%;
                width: 5%;
                margin-right: 0.7em;

                img {
                    width: 2rem;
                    height: 100%;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .user-details {
                width: 25%;
                text-align: left;
                margin-right: 0.7em;
            }

            .user-role {
                width: 7%;
                text-align: left;
                margin-right: 0.7em;
            }

            .user-email {
                width: 50%;
                text-align: left;
                margin-right: 0.7em;
            }
        }
    }
}

.user-form-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    form {
        width: 60%;
        min-height: 88%;
        height: fit-content;
        background-color: #f4f1f1;
        color: #000000;
        position: relative;
        border-radius: 6px;
        padding: 5em 1em;
        display: flex;
        flex-flow: column nowrap;
        row-gap: 3rem;
        justify-content: flex-start;

        &>div {
            display: flex;

            label {
                width: 7rem;
            }
        }

        .label {
            display: flex;
            gap: 1rem;
        }

        .spinner {
            align-self: center;
        }

        button.cancel {
            position: absolute;
            top: 2%;
            right: 3%;
        }

        button {
            min-width: max-content;
            font-size: 1.2rem;
            font-family: inherit;
            padding: 0.4em;
            border-radius: 3px;
            border: none;
            color: #f4f1f1;
            background-color: #000000;

            &:hover {
                background-color: #ffffff;
                color: #000000;
                cursor: pointer;
                outline: 1px solid #000000;
            }
        }

        label {
            font-weight: 700;
        }

        .header,
        .footer {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;
            gap: 5rem;

            div {
                display: inherit;
                gap: 0.5rem;

                &:has(input.product-name) {
                    width: 40%;

                    input {
                        width: 50%;
                    }
                }

                input {
                    color: #000000;
                    border: none;
                    border-bottom: 1px solid black;
                    background-color: inherit;
                }

            }
        }

        .textarea {
            display: flex;
            flex-flow: column nowrap;
            row-gap: 1rem;

            textarea {
                background-color: inherit;
                padding: 0.4em;
                color: #000000;
            }
        }

        .pass-container {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-flow: column nowrap;

            .password {
                width: 100%;
                display: flex;
                flex-flow: column nowrap;
                align-items: flex-start;
                gap: 0.5rem;

                .pass-input {
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    border: 1px solid rgb(118, 118, 118);
                    border-radius: 4px;

                    input {
                        width: 85%;
                        border: none;
                    }

                    img {
                        width: 15%;
                        height: 1.3rem;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

            }

        }
    }
}