:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,*::before,*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  max-width: 1275px;
  place-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #dddbdb;
  padding: 0.5% 4%  ;
}

body::-webkit-scrollbar {
  display: none;
}


#root {
  width: 100%;
  min-height: 850px;
  display: grid;
  grid-template-areas:
    "nav"
    "main";
  grid-template-rows:4.3rem 92%;
  grid-template-columns: 1fr;
 
}

#root:has(div.container) {
  overflow: hidden !important;
}
body:has(div.user-form-container) {
  overflow: hidden !important;
}
body:has(div.product-form) {
  overflow: hidden !important;
}

.hide {
  visibility: hidden;
}
